@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@font-face {
  font-family: "Cosi Azure Ultra";
  src: url("//db.onlinewebfonts.com/t/3f81afbe71b67f6fe1bb1186f9320086.eot");
  src: url("//db.onlinewebfonts.com/t/3f81afbe71b67f6fe1bb1186f9320086.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3f81afbe71b67f6fe1bb1186f9320086.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3f81afbe71b67f6fe1bb1186f9320086.woff") format("woff"), url("//db.onlinewebfonts.com/t/3f81afbe71b67f6fe1bb1186f9320086.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3f81afbe71b67f6fe1bb1186f9320086.svg#Cosi Azure Ultra") format("svg");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
  cursor: none;
}

body {
  background: black;
}

/**************loader**************/
::-webkit-scrollbar {
  display: none;
}

/************loader******************/
.logo {
  font-size: 35px;
  position: absolute;
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  display: inline-block;
  font-family: "Cosi Azure Ultra";
  padding: 25px;
  float: right;
  font-weight: 200;
  display: inline-block;
}

/*************mobile*************/
#slidebar {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  left: -100%;
  z-index: 111110000;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#slidebar .toggle-btn {
  color: white;
  font-size: 30px;
  position: absolute;
  left: 101%;
  padding: 20px;
  display: inline-block;
}

#slidebar .toggle-btn-2 {
  font-size: 30px;
  padding: 20px;
}

#slidebar .mobile-links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#slidebar .mobile-links a li {
  text-align: center;
  color: #000;
  list-style: none;
  font-size: 40px;
  padding: 20px;
}

#slidebar .mobile-links a li::after {
  content: '';
  background: #000;
  height: 2px;
  width: 0;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  display: block;
  margin: auto;
}

#slidebar .mobile-links a li:hover::after {
  width: 100%;
}

#slidebar.active {
  left: 0;
}

/*************mobile*************/
/***************laptop-pc-navbar***************/
.nav-bar {
  position: absolute;
  top: 6%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-bar a li {
  color: #fff;
  display: inline-block;
  padding: 30px;
  font-size: 17px;
  font-weight: 400;
  z-index: -1;
}

.nav-bar a li::after {
  content: '';
  background: #fff;
  height: 2px;
  width: 0;
  z-index: 1;
  margin-top: -11px;
  display: block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.nav-bar a li:hover::after {
  width: 100%;
}

/***************laptop-pc-navbar***************/
#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 44px;
    height: 44px;
    margin-top: -50%;
    margin-left: -50%;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px #fff;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
}

/******************container-text******************/
.container1 {
  height: 100vh;
  overflow: hidden;
}

.container1__frame {
  /* center */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75vh;
  height: 75vh;
  max-width: 400px;
  max-height: 400px;
  background: black;
  border: 1px solid #cccccc;
  font-family: "Cosi Azure Ultra";
}

.container1__text {
  position: absolute;
  font-family: "Cosi Azure Ultra";
  top: 40%;
  width: 100%;
  overflow: hidden;
}

.text {
  font-family: "Cosi Azure Ultra";
  font-size: 5vw;
  text-transform: uppercase;
  width: 100%;
  color: #cccccc;
}

.text::before {
  content: attr(data-content);
  position: absolute;
  z-index: 1;
  background-clip: text;
  -webkit-text-stroke: 1px #cccccc;
  -webkit-text-fill-color: transparent;
}

.hscroll {
  width: 100%;
  text-align: center;
  position: relative;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

/******************container-text******************/
/*******************mobile-txt***********************/
.mobile-text {
  font-size: 40px;
  font-family: "Cosi Azure Ultra";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.bounce-1 {
  -webkit-animation-name: bounce-1;
          animation-name: bounce-1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*******************mobile-txt***********************/
.btn-index {
  position: absolute;
  color: white;
  top: 80%;
  left: 50%;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  border-left: none;
  text-decoration: none;
  margin-top: 7px;
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #000000));
  background: linear-gradient(to right, #fff 50%, #000000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.btn-index:hover {
  background-position: left bottom;
  color: #000;
}

/***************************************************************/
/*****************************animations**********************************/
.transition-fade {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

/*****************************animation bweteen pages**********************************/
/************************loading screens***************************/
.animate-in {
  -webkit-animation: fadeIn .9s ease-in;
  animation: fadeIn .9s ease-in;
}

.animate-out {
  -webkit-transition: opacity .20s;
  transition: opacity .20s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/****************************PORTFOLIO PAGE***********************************/
/***************************************************************/
/**********************responsve-design*************************/
@media only screen and (min-width: 320px) and (max-width: 519px) {
  .container1 {
    display: none;
  }
  .logo {
    display: none;
  }
  .nav-bar a li {
    display: none;
  }
  .button-index {
    padding: 20px;
  }
  .button-index .btn-index {
    width: 70%;
    border-radius: 5em;
    border-left: 1px #ffffff;
    text-align: center;
  }
}

@media only screen and (min-width: 520px) and (max-width: 720px) {
  .container1 {
    display: none;
  }
  .logo {
    display: none;
  }
  .nav-bar a li {
    display: none;
  }
  .mobile-text {
    font-size: 70px;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1500px) {
  .container1 {
    margin-bottom: 50px;
  }
  .container1 .text {
    font-size: 7vw;
  }
  .btn-index {
    margin-top: 50px;
  }
  #slidebar {
    display: none;
  }
  .logo {
    float: left;
  }
  .container1 {
    display: none;
  }
  .mobile-text {
    font-size: 80px;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 32020px) {
  #slidebar {
    display: none;
  }
  #slidebar .toggle-btn {
    display: none;
  }
  .mobile-text {
    display: none;
  }
  .logo {
    float: left;
  }
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  margin-bottom: -53px;
  margin-left: 23px;
  background-color: transparent;
  border: 2px solid white;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotateY(0deg) rotate(45deg);
          transform: rotateY(0deg) rotate(45deg);
}

.inner-oval {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.circle1 {
  border: 2px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  -webkit-animation: zoom 3s linear 0s infinite;
          animation: zoom 3s linear 0s infinite;
}

.circle2 {
  border: 2px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  -webkit-animation: zoom 3s linear 0s infinite;
          animation: zoom 3s linear 0s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.circle3 {
  border: 2px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  -webkit-animation: zoom 3s linear 0s infinite;
          animation: zoom 3s linear 0s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes zoom {
  0% {
    backround-color: black;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes zoom {
  0% {
    backround-color: black;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}
/*# sourceMappingURL=style.css.map */